Resource/Beauty
Resource/Filters
Resource/license/SenseME*
Resource/Makeup
Resource/models
*.a
*.framework/
*.xcframework/
*.dSYM/
*.ipa
.plugin_dev
**/Pods/
xcuserdata/
ExtensionExample/out
ExtensionExample/libs/
